.section{
    padding-top: 50px;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;

}
.info-box{
    width: 350px;

}
.info-box h6{
    font-size: 14px;
    font-weight: bold;
    color: #5863f8;
    margin-bottom: 18px;
}
.info-box h2{
    font-size: 42px;
    font-weight: 400;
    color: black;
    line-height: 56px;
    margin-bottom: 50px;
}
.myform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.textarea-box{
    max-width: 720px;
    width: 100%;
    margin-right: 25px;
    background-color: #404040;
}
.textarea-box > textarea {
    width: 100%;
    height: 290px;
    resize: none;
    padding: 24px 20px;
    border: 2px solid #E8E8E8;
}
    
.textarea-box::placeholder{
    color: #CECECE;
    font-size: 13px;

}

.infut-box{
    max-width: 350px;
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infut-box > input {
    max-width: 350px;
    width: 100%;
    height: 60px;
    padding: 24px 20px;
}
input[type=submit] {
    font-size: 14px;
}
.ul,li{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    padding: 20px 20px;
}
.input1{
    background-color: #101dd8;
    color: white;
}