.section{
    padding-top: 50px;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;

}
.info-box{
    width: 350px;

}
.info-box h6{
    font-size: 14px;
    font-weight: bold;
    color: #5863f8;
    margin-bottom: 18px;
}
.info-box h2{
    font-size: 42px;
    font-weight: 400;
    color: black;
    line-height: 56px;
    margin-bottom: 50px;
}
.myform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.textarea-box{
    max-width: 720px;
    width: 100%;
    margin-right: 25px;
    background-color: #404040;
}
.textarea-box > textarea {
    width: 100%;
    height: 290px;
    resize: none;
    padding: 24px 20px;
    border: 2px solid #E8E8E8;
}
    
.textarea-box::placeholder{
    color: #CECECE;
    font-size: 13px;

}

.infut-box{
    max-width: 350px;
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infut-box > input {
    max-width: 350px;
    width: 100%;
    height: 60px;
    padding: 24px 20px;
}
input[type=submit] {
    font-size: 14px;
    background-color: #101dd8;
    color: white;
}
.ul,li{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    padding: 20px 20px;
}
.p1{
    color: #b1b1b1;
}
.big-box{
    display: flex;
    width: 900px;
    text-align: center;
    justify-content:space-between;
    margin-top: 50px;
    margin-left: 300px;
}
.big-box .img1,.img2,.img3{
    width: 59px;
    height: 58ppx;
}
.info-box1{
    width: 430px;

}
.info-box1 h6{
    font-size: 14px;
    font-weight: bold;
    color: #5863f8;
    margin-bottom: 18px;
}
.info-box1 h2{
    font-size: 42px;
    font-weight: 400;
    color: black;
    line-height: 56px;
    margin-bottom: 50px;
}
.photo{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
    
}
.container4{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
}
.p3{
    position: absolute;
    width: 261px;
    height: 83px;
    font-family: "poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    font-style: normal;
    text-align: left;
    color: #b1b1b1;
    padding-right: 50px;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    
    
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container3{
    max-width: 1170px;
    margin-left: 50px;

}
.footer-col{
    width: 25%;
    padding-right: 200px;
}
.footer-col h1{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #d91d63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #d91d63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:  rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}

